<h3>Counter</h3>
<p id="counterElm">{{initialValue}}</p>

<script>
  setInterval(() => {
    let counterElm = document.getElementById("counterElm");
    const count = parseInt(counterElm.textContent) + 1;
    counterElm.innerText = count.toString();
    console.assert(count < 1000, "count greater than 1000");
  }, 100);
</script>
