
version: '3.1'
services:
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: alikadir
      MONGO_INITDB_ROOT_PASSWORD: 12345
