<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <img src="/image/avatar.png" width="100" alt="avatar" />
    {{{body}}}
  </body>
</html>
